:root{
    --pr-color: #048853;
}

body{
    font-family: "poppins";
   background: #e5e5e5;
}   
 .navbar{
    z-index: 3;
 }
 *{
    z-index: 2;
 }
.hero-Banner{
    z-index: 1;
}
/* navbar */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.btn-masuk{ 
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: var(--pr-color);
    font-size: 16px;
    font-weight: 700;
    
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
/* navbar end */
#hero{
    background:linear-gradient(160deg,var(--pr-color),#000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700px;
    color: #fff;
    line-height: 70px;
}
.text-hero P{
    font-size:16px;
    font-weight: 400;
    color:#fff;
    width:75%;
}
.btn-lg{
    width: 237px;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    color:var(--pr-hijau);
    border: none;
}

/*layanan style */
#our-service{
    height:100vh;
    
}
.container-img{
    display:flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
.card-layanan{
    height: 313px;
    padding: 40px;
    background: #048853;
}
/*end layanan*/
