:root{
    --pr-color: #048853;
}

body{
    font-family: "poppins";
   background: #e5e5e5;
}   
 .navbar{
    z-index: 3;
 }
 *{
    z-index: 2;
 }
.hero-Banner{
    z-index: 1;
}
/* navbar */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.btn-masuk{ 
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: var(--pr-color);
    font-size: 16px;
    font-weight: 700;
    
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
/* navbar end */
#hero{
    background:linear-gradient(160deg,var(--pr-color),#000);
    height: 100vh;
}
.text-hero h1{
    font-size: 50px;
    font-weight: 700px;
    color: #fff;
    line-height: 70px;
}
.text-hero P{
    font-size:16px;
    font-weight: 400;
    color:#fff;
    width:75%;
}
.btn-lg{
    width: 237px;
    height: 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    color:var(--pr-hijau);
    border: none;
}

/* layanan style */
#our-service{
    padding: 100px 0;
    width: 100%;
}
h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--pr-color);
}
p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.card-layanan{
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    transition: all 0.1s ease-in;
}
.container-img{
    height: 70px;
    width: 70px;
    background-color: var(--pr-color);
    border-radius: 50%;
    transition: all 0.1s ease-in;
}
.card-layanan h4{
    font-size: 24px;
    font-weight: 500;
    color:var(--pr-color);
    transition: all 0.1s ease-in;
}
.card-layanan p{
    font-size: 14px;
    font-weight: 400;
    color:#000;
    transition: all 0.1s ease-in;
}

/* hover card */
.card-layanan:hover{
    background: linear-gradient(160deg, var(--pr-color), #000);
    transition: all 0.1s ease-in;
}
.card-layanan:hover .container-img{
    background-color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover h4{
    color: #fff;
    transition: all 0.1s ease-in;
}
.card-layanan:hover p{
    color: #fff;
    transition: all 0.1s ease-in;
}
/* end hover card */
/* end layanan */
/*Style temukan rumah*/
#temukan-rumah{
    height: 100vh;
    background-image: url(image/Interior.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.tmk-rumah{
 color: #fff;
 font-size: 48px;
 font-weight: 500;
  padding-top: 110px;
}
.sub-tmk-rumah{
color: #fff;
font-weight: 400;

}
.btn-tab{
    height: 42px;
    color:#000;
    background-color: rgb(255,255,255,0.5);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
}
.jual{
    border-radius: 10px 0 0 0;
}
.properti{
    border-radius: 0 10px 0 0;
}
.btn-tab.active{
    height: 42px;
    color:var(--pr-color);
    background-color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s ease-in;
}
/*End Style temukan rumah*/