.navbar-nav{
margin-left: 500px;
padding: 20px;
}
.btn{
    border-radius: 50px;
    background-color: blue;
    border: blue; 
}
.vidro{
    background-color: #ffffff;
  color: blue;
  border: 1px solid blue;
}
.hero-img{
    width: 416px;
    height: 494px;
    object-fit: cover;
}
.tulisan{
    font-weight: bold;
    margin-top: 20px;
    font-size: 65px;
}
span{
    color: blue;
}
.tulisan1{
    font-size: 20px;
}
.tulis{
       font-size: 20px;
}
.col-md-3{
  flex: 1;
  height: 284px;      
  width: 239px;   
  box-shadow: 0 3px 10px 1px black;
}
.row {
  column-gap: 25px;   
  row-gap: 0px;       
}
.bibi{
  width: 582px;
  height: 408px;
}
